*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	/*border: 1px solid black;*/
}

/*CSS Header*/

header{
	height: 110vh;
	background: url(../images/bg1.jpg);
	background-size: cover;
	background-position: center;
	/*background-position-y: 0px;*/
}

nav {
	height: 75px;
	border-bottom: 2px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0,0,0,.1);
	border-width: 1px;
}

nav > ul{
	display: flex;
	list-style-type: none;
}

nav > ul > li{
	margin: 0 20px;
}

.btn{
	padding: 10px 20px;
	border-radius: 15px;
	border: none;
}

.btnHeader{
	background-color: salmon;
	font-size: 15px;
	font-weight: bold;
}

#btnCactus{
	position: absolute;
	right: 100px;
	top: 20px;
	transition: .4s;
}

#btnCactus:hover{
	top: 15px;
}

/*Disappearing Menu CSS*/
.submenu{
	background-color: lightgray;
	width: 80%;
	border-radius: 15px;
	height: 200px;
	display: flex;
	position: absolute;
	left: 10%;
	top: 50px;
	visibility: hidden;
}

.submenu > div{
	width: 25%;
}

header div+div{
	border-left: 1px solid whitesmoke;
}

div > h4, div > p{
	margin: 10px 0;
	padding: 0 10px;
}

.submenu > div > p:hover{
	background-color: darkgray;
}

#mega-menu:hover > .submenu, #mega-menu > .submenu:hover{
	visibility: visible;
}

.header-text{
	height:90vh;
	width:50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*align-items: center;*/
}

.header-text > h1 {
	font-size: 70px;
}

.header-text > div > .btn{
	margin-top: 20px;
	background-color: navy;
	color: white;
}

.header-text > h1, .header-text > p, .header-text > div > button{
	margin-left: 50px;
}
/*End CSS for Header*/

/*Start of Quote CSS*/
.quote{
	height: 50vh;
	border-bottom: 1px solid whitesmoke;
	display: flex;
	justify-content: center;
	align-items: center;
}

.quote > div{
	width: 50%;
	text-align:center;
}

.quote > div > div{
	/*text-align: center;*/
	margin-top:20px;
}
/*End of Quote CSS*/

/*Video Section*/
.videoSection{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.videoSection > div{
	height: 90vh;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.videoSection img{
	width: 45vw;
	border-radius: 5px;
}

.videSectionContent > div{
	height: 80%;
	width: 90%;
}

/*.videoContent{
	height: 50%;
}
*/
.videoContentTop{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 50%;
}

.videoContentBottom {
	display: flex;
	height: 50%;
}

.videoContentBottom > div{
	width: 50%;
}

.videoSection .topP2{
	font-size: 20px;
	font-weight: bold;
}

.videoSection .span1{
	font-size: 45px;
	font-weight: bold;
}

.videoSection .span2{
	position: relative;
	bottom: 20px;
	font-weight: bold;
}

.videoSection .botP1-2, .videoSection .botP2-2{
	font-weight: bold;
}
/*End of Video Section*/

/*Bottom Section*/
.botSection{
	height: 100vh;
	background-color: rgba(20,20,20, .1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.botSection > .divTop{
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
}

.divBot{
	height: 50vh;
	width: 90vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.divBot > div {
	height: 100%;
	width: 25vw;
	margin: 0 15px;
}

.divBot .top{
	height: 70%;
	border-bottom: 2px solid gray;
}

.divBot > div{
	border:2px solid gray;
}

.top > p {
	font-size: 25px;
	text-align: center;
}

.divBot h2 {
	text-align: center;
	position: relative;
	top: 30px;
}

.divBot img{
	height: 70px;
	width: 70px;
	text-align:center;
	border-radius: 50%;
	position: relative;
	bottom: 75px;
	object-fit: cover;
}

.divBot .bot{
	text-align: center;
}

.divBot > div{
	transition: .4s;
	position: relative;
	border-radius: 5px;
}

.divBot > div:hover{
	bottom: 20px;
	box-shadow: 0px 28px 30px -15px rgba(0,0,0,0.75);
}

/*End of Bottom Section*/